<br/>
<h2>Welcome to Pizza Shop!</h2>

<div class="row">

	<% @products.each do |p| %>
		<div class="col-md-3">
			<%= p.title %>
		</div>
	<% end %>

</div>
<br/>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
		  <img src="./images/hawaiian.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Название карточки</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">Заказать</a>
		  </div>
		</div>
    </div>
    <div class="col-sm">
       <div class="card" style="width: 18rem;">
		  <img src="./images/pepperoni.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Название карточки</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">Заказать</a>
		  </div>
		</div>
    </div>
    <div class="col-sm">
       <div class="card" style="width: 18rem;">
		  <img src="./images/veg.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Название карточки</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">Заказать</a>
		  </div>
		</div>
    </div>
  </div>
</div>
<br/> -->
<button class="btn btn-primary" onclick="something()">Click me!</button>
